@import '~normalize.css';
@import 'NerkoOne-Regular.css';
body {
    text-align: center;
    font-size: 36px;
    font-family: 'NerkoOne-Regular', sans-serif;
    font-weight: 400;
    color: white
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.menu {
    position: fixed;
    left: -50%;
    top: 0px;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0%;
    transition: ease 0.5s;
    z-index: 100;
}

.menu_ {
    opacity: 90%;
    left: 0px;
    top: 0px;
}

.link {
    margin: 10px 0 0 0;
}

.link:hover, .link_main:hover {
    cursor: pointer;
    color: crimson;
}

.burger {
    position: fixed;
    left: 2vw;
    top: 1vh;
    width: 40px;
    cursor: pointer;
    z-index: 1000;
    transition: linear 0.5s;
}

.line {
    display: block;
    height: 4px;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    box-shadow: 0 1px 0 2px rgba(44, 1, 73, 0.9), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: ease 0.5s;
}

.line:nth-child(2) {
    margin: 10px 0 10px 0;
}

.line.change:nth-child(2) {
    transform: rotate(140deg);
    background: yellow;
}

.line.change:nth-child(1) {
    transform: translateY(13.5px)rotate(40deg);
    background: yellow;
}

.line.change:nth-child(3) {
    visibility: hidden;
    transition: ease 0.1s;
}

.main {
    display: flex;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.card {
    box-sizing: border-box;
    margin: 30px 20px 38px 20px;
    display: flex;
    width: 300px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 32px;
    color: rgb(255, 255, 255);
    background: rgb(88, 183, 221);
    border-radius: 6%;
    cursor: pointer;
    box-shadow: 0 3px 0 3px rgba(51, 41, 35, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transform-style: preserve-3d;
    transition: ease .6s;
}

.card:hover {
    box-shadow: #6b819b 0 0 10px 10px, 0 4px 0 3px rgba(51, 41, 35, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    ;
}

.card.rotated {
    transform: rotateY(360deg);
}

.image {
    height: 300px;
    width: 100%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: absolute;
    right: 15px;
    height: 19px;
    width: 18px;
    border: none;
    background: url(../assets/img/arrow.svg);
    z-index: 10;
    transition: ease 0.2s;
}

.btn:hover {
    outline: none;
    cursor: pointer;
}

.btn:active {
    transform: rotate(360deg);
}

.selectMode {
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
}

.card.selected {
    background-color: rgb(173, 50, 50);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.startPlay {
    position: absolute;
    top: 2vh;
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    color: rgb(250, 226, 11);
    background-color: rgba(20, 30, 49, 0.9);
    border-radius: 30px;
    box-shadow: 0 5px 0 2px rgba(160, 63, 63, 0.3), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.startPlay:hover {
    transform: scale(1.1);
}

.startPlay:active {
    transform: scale(1.1);
}

.Repeat {
    background-color: rgb(164, 7, 255);
}

.trueSelect {
    opacity: 20%;
}

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: absolute;
    top: 1vh;
    right: 2vw;
    width: 120px;
    height: 40px;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 30px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #0582b8;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-3 .knobs:before {
    content: 'Play';
    position: absolute;
    box-sizing: border-box;
    top: 3px;
    left: 4px;
    display: flex;
    width: 60px;
    height: 32px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 6px 0 4px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 0.6s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked+.knobs:before {
    content: 'Train';
    left: 56px;
    font-size: 24px;
    background-color: #ffffff;
}

#button-3 .checkbox:checked~.layer {
    background-color: #c03d3d;
}

.foot {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 63, 116);
    opacity: 90%;
}

.rslogo {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.Ghlogo {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.current {
    opacity: 40%;
    border-bottom: 3px solid red;
}

.Won {
    margin-top: 30px;
    width: 90%;
    height: 80vh;
}

.Lose {
    width: 60%;
    height: 70vh;
}

.main.Loses {
    display: flex;
    flex-direction: column-reverse;
}

.errors {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 5px solid rgb(20, 77, 110);
    border-top: 5px solid rgb(12, 69, 122);
    border-radius: 10px;
    color: red;
}

.Stars {
    position: absolute;
    top: 6vh;
    right: 0;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.star {
    margin: 0 3px 0 3px;
    width: 30px;
    height: 30px;
}

@media screen and (max-width:767px) {
    .Won {
        width: 90%;
        height: 55vh;
    }
    .Lose {
        width: 85%;
        height: 55vh;
    }
}